@{
    ViewData["Title"] = "Home Page";
}

@section Head
{
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
}

<div class="text-center py-2">
    <span class="mvc">MVC</span>
    <br />
    <span class="fonte-kids" style='color: blue'>P</span>
    <span class="fonte-kids" style='color: green'>l</span>
    <span class="fonte-kids" style='color: red'>a</span>
    <span class="fonte-kids" style='color: blueviolet'>y</span>
    <span class="fonte-kids" style='color: yellow'>g</span>
    <span class="fonte-kids" style='color: aqua'>r</span>
    <span class="fonte-kids" style='color: lightsalmon'>o</span>
    <span class="fonte-kids" style='color: brown'>u</span>
    <span class="fonte-kids" style='color: red'>n</span>
    <span class="fonte-kids" style='color: yellow'>d</span>
</div>
